*,
*:before,
*:after {
    box-sizing: border-box;
}

.js-preload * {
    transition: none !important;
}

@media screen and (prefers-reduced-motion: reduce) {
    *,
    *:before,
    *:after {
        animation: none !important;
        transition: none !important;
    }
}
